In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Section :- A

#### 1. Create a NumPy array using random function?

In [2]:
A = np.random.rand(5)
A

array([0.0988176 , 0.66304507, 0.92684726, 0.14509466, 0.35468585])

#### 2. Print the average value in above NumPy array?

In [18]:
sum(A)/len(A)

0.43769808848709235

#### 3. Create a pandas dataframe from the python dictionary.

In [4]:
B = {
        'Name' : ['Joy' , 'Vicky' ,'James' , 'Anonymous'],
        'Age' : [25,26,21,23],
        'Blood Gr'  : ['A' , 'B' , 'O+' , 'A+']
    }

C = pd.DataFrame(B)
C

        Name  Age Blood Gr
0        Joy   25        A
1      Vicky   26        B
2      James   21       O+
3  Anonymous   23       A+

#### 4. Rename one column from the above dataframe.

In [5]:
C.rename(columns={"Blood Gr" : 'Blood Group'})

        Name  Age Blood Group
0        Joy   25           A
1      Vicky   26           B
2      James   21          O+
3  Anonymous   23          A+

## Section :- B

#### 1. Load the fracture.csv data into pandas dataframe.

In [6]:
MDF = pd.read_csv('fracture.csv')
MDF

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bmd
0,469,57.052768,F,no fracture,64.0,155.5,Anticonvulsant,18,0.8793
1,8724,75.741225,F,no fracture,78.0,162.0,No medication,56,0.7946
2,6736,70.778900,M,no fracture,73.0,170.5,No medication,10,0.9067
3,24180,78.247175,F,no fracture,60.0,148.0,No medication,14,0.7112
4,17072,54.191877,M,no fracture,55.0,161.0,No medication,20,0.7909
...,...,...,...,...,...,...,...,...,...
164,21892,77.982543,M,fracture,74.0,164.0,No medication,49,0.7941
165,24140,50.285303,F,fracture,59.0,161.0,No medication,6,0.7971
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037
167,5505,54.788368,M,fracture,70.0,166.0,No medication,14,0.8072
168,71,69.994822,F,fracture,68.5,165.0,No medication,25,0.8664

#### 2. Add new column named “bmi” to store Body Mass Index for each record. Formula to calculate BMI is: weight_kg / (height_cm/100)^2

In [7]:
MDF['bmi'] = MDF['weight_kg'] / (MDF['height_cm'] / 100) ** 2
MDF

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bmd,bmi
0,469,57.052768,F,no fracture,64.0,155.5,Anticonvulsant,18,0.8793,26.467882
1,8724,75.741225,F,no fracture,78.0,162.0,No medication,56,0.7946,29.721079
2,6736,70.778900,M,no fracture,73.0,170.5,No medication,10,0.9067,25.111583
3,24180,78.247175,F,no fracture,60.0,148.0,No medication,14,0.7112,27.392257
4,17072,54.191877,M,no fracture,55.0,161.0,No medication,20,0.7909,21.218317
...,...,...,...,...,...,...,...,...,...,...
164,21892,77.982543,M,fracture,74.0,164.0,No medication,49,0.7941,27.513385
165,24140,50.285303,F,fracture,59.0,161.0,No medication,6,0.7971,22.761468
166,6969,46.359721,M,fracture,67.0,169.0,No medication,10,0.8037,23.458562
167,5505,54.788368,M,fracture,70.0,166.0,No medication,14,0.8072,25.402816
168,71,69.994822,F,fracture,68.5,165.0,No medication,25,0.8664,25.160698

#### 3. Split the data set in to test and train in 20:80 ratio.

In [8]:
x = MDF[['age' , 'sex' , 'bmi'  , 'bmd']]
y = MDF['fracture'].values

In [9]:
from sklearn.preprocessing import LabelEncoder

label_y = LabelEncoder()
y = label_y.fit_transform(y)


label_s = LabelEncoder()
x['sex'] = label_s.fit_transform(x['sex'])
x = x.values

C:\Users\VAIBHAV DARJI\AppData\Local\Temp\ipykernel_7900\420388755.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['sex'] = label_s.fit_transform(x['sex'])

In [10]:
x

array([[57.05276775,  0.        , 26.46788185,  0.8793    ],
       [75.7412248 ,  0.        , 29.7210791 ,  0.79460001],
       [70.7789    ,  1.        , 25.11158315,  0.90670002],
       [78.24717531,  0.        , 27.39225712,  0.7112    ],
       [54.1918766 ,  1.        , 21.21831719,  0.79089999],
       [77.17775151,  1.        , 23.03004535,  0.73009998],
       [56.18061769,  1.        , 30.45765595,  1.0096    ],
       [49.91613988,  0.        , 26.22222222,  0.73100001],
       [68.40840332,  1.        , 22.94811574,  0.6893    ],
       [66.25664804,  1.        , 28.30160867,  0.94660002],
       [45.86658172,  1.        , 21.70792339,  0.80150002],
       [73.97047074,  0.        , 25.2825699 ,  0.57929999],
       [60.55541712,  0.        , 31.63371488,  0.97600001],
       [64.2131031 ,  1.        , 29.3877551 ,  0.91839999],
       [53.3954402 ,  1.        , 26.50887574,  0.80199999],
       [66.82546218,  1.        , 25.99090318,  0.80330002],
       [57.93459324,  1.        , 26.171875  ,  0.7978    ],
       [40.23236742,  1.        , 24.24242424,  1.039     ],
       [69.04817915,  0.        , 30.35925114,  0.78609997],
       [57.80229798,  0.        , 21.64127424,  0.82539999],
       [58.19132915,  0.        , 24.87771968,  0.84990001],
       [46.08154976,  1.        , 24.96494648,  0.89819998],
       [65.79535204,  0.        , 35.19619501,  0.77380002],
       [60.18946129,  0.        , 23.34242273,  0.83770001],
       [54.99218408,  1.        , 25.35154137,  0.81260002],
       [51.43071736,  0.        , 28.46179794,  0.92339998],
       [70.19857261,  1.        , 24.38237298,  1.0405999 ],
       [77.15502036,  1.        , 25.03991871,  1.002     ],
       [70.42187319,  0.        , 20.95717116,  0.625     ],
       [75.01547985,  1.        , 22.92187461,  0.9364    ],
       [54.91253353,  1.        , 24.44727891,  1.0908999 ],
       [70.0285031 ,  0.        , 24.55775234,  0.80790001],
       [48.81687141,  1.        , 33.61226848,  0.89950001],
       [49.78743656,  0.        , 20.44444444,  0.73500001],
       [41.41761507,  1.        , 25.78125   ,  1.0003    ],
       [67.92438462,  1.        , 27.6816609 ,  1.0128    ],
       [60.8313568 ,  1.        , 27.51545287,  1.0265    ],
       [62.71790768,  1.        , 30.09143166,  0.8994    ],
       [69.65373122,  1.        , 29.74419988,  1.0031    ],
       [81.47969034,  0.        , 37.09869203,  0.90609998],
       [73.23042708,  0.        , 22.2136785 ,  0.71280003],
       [54.42421077,  0.        , 26.07897153,  1.0266    ],
       [66.64486617,  0.        , 25.6311675 ,  0.963     ],
       [83.84773532,  1.        , 29.73390041,  0.84289998],
       [67.65108105,  0.        , 24.88888889,  0.92619997],
       [82.42315923,  0.        , 30.40762656,  0.81709999],
       [54.23390445,  1.        , 17.50638983,  0.71280003],
       [42.81703317,  0.        , 24.5603263 ,  0.88880002],
       [69.72844532,  1.        , 31.04184182,  1.3624001 ],
       [76.8639147 ,  1.        , 31.55365915,  1.0015    ],
       [43.45071208,  1.        , 27.54820937,  1.0197999 ],
       [67.57338008,  1.        , 15.42660496,  0.55140001],
       [56.20812741,  0.        , 30.02174369,  0.71710002],
       [88.7537953 ,  1.        , 24.77679525,  0.85479999],
       [70.40792405,  0.        , 33.74770387,  0.7766    ],
       [62.06523735,  0.        , 38.54481969,  0.7999    ],
       [61.18467166,  0.        , 30.17882077,  0.80129999],
       [48.28948823,  1.        , 26.5625    ,  0.9716    ],
       [49.73132379,  0.        , 27.9500393 ,  0.98509997],
       [36.64831103,  1.        , 17.63265306,  0.85600001],
       [63.67318436,  0.        , 25.23634033,  0.70950001],
       [74.17835572,  1.        , 21.77384236,  0.63380003],
       [63.28728844,  0.        , 22.63579193,  0.73839998],
       [56.95872053,  0.        , 21.93634741,  0.73470002],
       [46.56490164,  0.        , 22.7189744 ,  0.73460001],
       [47.02465066,  0.        , 21.31301795,  0.64960003],
       [84.78739433,  1.        , 24.97704316,  1.2508    ],
       [54.40617797,  0.        , 26.953125  ,  0.88190001],
       [51.59653972,  0.        , 22.76943835,  0.7755    ],
       [61.17008505,  0.        , 30.29778393,  0.8599    ],
       [73.94030609,  1.        , 27.71593019,  0.8829    ],
       [54.77277445,  0.        , 24.8357635 ,  0.79659998],
       [66.67269226,  1.        , 27.21730295,  0.77579999],
       [59.46131701,  0.        , 37.18441429,  0.90359998],
       [50.36051644,  0.        , 27.9883829 ,  0.86379999],
       [55.41170957,  0.        , 23.046875  ,  0.75099999],
       [56.54581828,  1.        , 25.76571346,  1.0839    ],
       [63.48783737,  1.        , 20.44913742,  0.74089998],
       [72.08055823,  1.        , 25.6543724 ,  0.99900001],
       [58.26221496,  0.        , 22.51630777,  0.58990002],
       [58.67087154,  1.        , 21.4532872 ,  0.87199998],
       [58.33505192,  1.        , 29.37758264,  1.1335    ],
       [39.25494707,  1.        , 25.24728218,  1.0502    ],
       [60.23658177,  0.        , 28.04037814,  0.8362    ],
       [63.76954463,  0.        , 24.23822715,  0.72149998],
       [44.23967859,  1.        , 25.85463947,  0.9824    ],
       [79.39970672,  1.        , 29.31985649,  0.9436    ],
       [65.13435742,  1.        , 27.18163009,  0.86220002],
       [66.55921764,  0.        , 24.91990032,  0.78049999],
       [35.81405763,  1.        , 27.82449436,  0.7895    ],
       [69.08663791,  1.        , 29.34003963,  0.85089999],
       [59.26117883,  1.        , 20.70081674,  0.76599997],
       [59.70722073,  1.        , 25.46938776,  0.85930002],
       [61.60041411,  0.        , 26.89767019,  0.91390002],
       [69.23719028,  0.        , 31.24499279,  0.7586    ],
       [52.32252245,  1.        , 26.07897153,  0.87760001],
       [72.77238723,  0.        , 36.24120536,  0.509     ],
       [60.22138607,  1.        , 34.11235303,  1.0617    ],
       [58.81240985,  0.        , 33.3318319 ,  0.83069998],
       [54.49762635,  0.        , 20.81032484,  0.73110002],
       [52.90099358,  0.        , 25.72103221,  0.97060001],
       [63.02469707,  1.        , 27.39091856,  1.0366    ],
       [64.0659499 ,  0.        , 22.03856749,  0.77819997],
       [52.79292063,  1.        , 24.99979708,  0.88880002],
       [49.20966328,  1.        , 26.77593411,  0.72689998],
       [68.57130833,  0.        , 18.5178041 ,  0.70959997],
       [77.9064001 ,  0.        , 21.64127424,  0.61220002],
       [68.55087894,  0.        , 29.51593861,  0.83899999],
       [44.68312684,  1.        , 22.64737696,  0.90100002],
       [67.92552839,  0.        , 24.52434635,  1.0176001 ],
       [68.06825266,  0.        , 23.63040123,  0.75089997],
       [52.47831105,  0.        , 26.04827761,  0.73140001],
       [60.88359606,  1.        , 26.33263895,  0.83700001],
       [43.46317104,  1.        , 19.43301326,  0.796     ],
       [57.56917982,  1.        , 23.88946281,  1.0287    ],
       [56.96445803,  1.        , 24.57704618,  0.72009999],
       [52.24655176,  1.        , 22.67573696,  0.61870003],
       [56.93126646,  0.        , 23.7332384 ,  0.67439997],
       [66.33562311,  0.        , 27.37276631,  0.86809999],
       [83.09364681,  0.        , 21.36752137,  0.45860001],
       [81.48136958,  1.        , 22.76943835,  0.48179999],
       [53.53171717,  1.        , 25.81151979,  0.52789998],
       [69.21393466,  0.        , 22.7189744 ,  0.52850002],
       [73.06759806,  1.        , 19.59645812,  0.52869999],
       [87.93494224,  1.        , 23.27266788,  0.53869998],
       [77.76867742,  0.        , 27.11111111,  0.54189998],
       [81.08738516,  0.        , 22.37111442,  0.55150002],
       [53.7692897 ,  0.        , 17.77777778,  0.55790001],
       [80.77319346,  1.        , 31.24876389,  0.56760001],
       [76.94473691,  0.        , 16.01454294,  0.56349999],
       [82.40717913,  1.        , 19.22768787,  0.57209998],
       [57.58119772,  0.        , 15.58171745,  0.52939999],
       [77.81962254,  0.        , 21.05170826,  0.55470002],
       [76.74551614,  0.        , 24.39482079,  0.56029999],
       [54.15273476,  1.        , 30.47721924,  0.5693    ],
       [72.27013664,  0.        , 21.08281329,  0.60009998],
       [68.01774844,  0.        , 24.77679525,  0.6103    ],
       [88.02415052,  1.        , 22.65573092,  0.62040001],
       [69.97770123,  0.        , 38.54481969,  0.62639999],
       [71.17212415,  0.        , 28.76186998,  0.40759999],
       [70.94756425,  1.        , 21.1552942 ,  0.44069999],
       [74.7968828 ,  0.        , 18.75      ,  0.48519999],
       [83.21982284,  0.        , 22.66666667,  0.55549997],
       [81.97955903,  1.        , 23.95122659,  0.56150001],
       [85.90159463,  1.        , 21.45357371,  0.61019999],
       [71.47172115,  1.        , 19.78997095,  0.62970001],
       [76.73260358,  0.        , 30.18992773,  0.63849998],
       [83.67835729,  1.        , 19.84126984,  0.63880002],
       [85.57631118,  0.        , 20.33326721,  0.64090002],
       [70.81094137,  0.        , 28.94609886,  0.64319998],
       [68.68328771,  0.        , 20.23950076,  0.64480001],
       [86.85986938,  1.        , 18.68512111,  0.64950001],
       [80.06020512,  1.        , 23.47928994,  0.67079997],
       [61.64450359,  0.        , 20.95717116,  0.68800002],
       [66.80418542,  1.        , 21.48473615,  0.6882    ],
       [37.46199496,  1.        , 22.60026298,  0.68839997],
       [63.4419661 ,  1.        , 21.13885586,  0.68989998],
       [51.04837034,  0.        , 25.12911004,  0.6904    ],
       [48.52365084,  0.        , 21.6192844 ,  0.6904    ],
       [41.35119985,  1.        , 17.68850542,  0.7076    ],
       [84.72176364,  1.        , 20.06095444,  0.70850003],
       [59.07608201,  1.        , 22.14532872,  0.72460002],
       [50.27605888,  0.        , 20.76124567,  0.73989999],
       [67.25216263,  1.        , 27.04164413,  0.77450001],
       [77.98254308,  1.        , 27.51338489,  0.79409999],
       [50.28530296,  0.        , 22.76146754,  0.79710001],
       [46.35972067,  1.        , 23.45856238,  0.80369997],
       [54.78836776,  1.        , 25.40281608,  0.80720001],
       [69.99482235,  0.        , 25.16069789,  0.8664    ]])

In [11]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x,y , test_size=0.2)
print('original size :' , y.size)
print("train size :" , y_train.size)
print("test size :" , y_test.size)

original size : 169
train size : 135
test size : 34

#### 4. Build a SVM model to predict the fracture considering age, sex,bmi and bmd.

In [12]:
from sklearn.svm import SVC

svm_model = SVC(kernel='sigmoid')   #sigmoid , linear , poly , rbf
svm_model.fit(x_train , y_train)
y_pred = svm_model.predict(x_test)
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

#### 5. Apply the model on to the test and train data. Plot the outcomes of prediction using appropriate graph.

#### 6. Calculate accuracy of the model using confusion matix.

In [13]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test , y_pred)
26/34

0.7647058823529411

### use KNN

In [14]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier(p=2 , n_neighbors=5 , metric='cosine')
knn_model.fit(x_train , y_train)
y_pred_2 = knn_model.predict(x_test)
y_pred_2

confusion_matrix(y_test , y_pred_2)
26/34

0.7647058823529411